.home{
    scroll-snap-align: start;
}

@media only screen and (max-width : 400px ) {
    .home{
        max-height: 100dvh;
        min-height: 100dvh;
    }
    .home-margin{
        padding: 10%;
    }
    .intro{
        text-align: left;
        line-height: 1em;
        font-size: .87em;
    }
    .profile img{
        width: 100%;
        height: 100%;
    }
    
    figure.profile {
        margin: 0px;
        padding: 5px;
    }

    figure.profile {
        height: 300px;
    }
}