.projects{
    scroll-snap-align: start;
}

@media only screen and (max-width : 400px ) {
    .project-margin {
        padding: 10%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .projects{
        max-height: 100dvh;
        min-height: 100dvh;
    }
    .gig-carousel{
        max-height: 37vh;
        overflow: hidden;
    }
}