@media only screen and (max-width: 400px) {
    .book-button{
        display: flex;
        justify-content: flex-end; 
    }
    .book-button button{
        padding: 15px;
        border-radius: 51px;
        border: 0px;
    }
    .book-button button:hover{
        cursor: pointer;
    }
}